/* fonts? */
@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

/* header */


body {
  font-family: Arial, sans-serif;
  font-size:  13pt;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

form {
  max-width: 1350px;
  margin: 100px auto;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  box-shadow: 0 0 140px rgba(11, 0, 110, 0.1);
}

.imgcenter {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.container.mt-3 .text-spacing .text-center {
    line-height: 0pt;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 40px;
}

.container.mt-3 .text-center h4 {
    font-family: "UnifrakturMaguntia", cursive;
    font-size:  15pt;
}

.container.mt-3 .text-center h5 {
    font-family: "UnifrakturMaguntia", cursive;
    font-size:  23pt;
}

.container.mt-3 .text-center h6  {
    font-family: "Cinzel", serif;
    font-size: 12pt;
    font-optical-sizing: auto;
    font-style: bold;
} 

.container.mt-3 .text-center p  {
    font-family: "Ta2oma", sans-serif;
    font-size: 12pt;
    font-optical-sizing: auto;
} 


/* likert scale table */
.table-responsive {
    margin:  0 auto; /* Center the table on the page */
  }
  .table thead th {
    background-color: #f8f9fa; /* Light gray background for the header */
    text-align: center; /* Center the text in the header */
  }
  .table tbody td {
    text-align: center; /* Center the text in the body cells */
  }
  .table tbody tr:nth-child(odd) {
    background-color: #e9ecef; /* Gray background for odd rows */
  }
  .table tbody tr:nth-child(even) {
    background-color: #ffffff; /* White background for even rows */
  }
  .table tbody td:first-child {
    text-align: left; /* Align text in the first column to the left */
  }
